
body
{
	padding-top: 10px;
	/*background-color: #3350A6;*/
    background-color: #F2F2F2;
    background: linear-gradient(135deg, #3350A655 25%, transparent 25%) -4px 0/ 8px 8px, linear-gradient(225deg, #3350A6 25%, transparent 25%) -4px 0/ 8px 8px, linear-gradient(315deg, #3350A655 25%, transparent 25%) 0px 0/ 8px 8px, linear-gradient(45deg, #3350A6 25%, #F2F2F2 25%) 0px 0/ 8px 8px;
}

#patient, .blocproduits, .blocmelanges, .bloctoxcum, .paramexplications, .paramfragile, .paramproduit
{
    background-color: #F2F2F2;
	line-height: 40px;
	text-align: center;
	font-family : "Lato";
	border-top: 2px solid white;
	border-bottom: 2px solid white;
    color :  #010D26;
}

#poids, #volume1, #volume2
{
	background-color: white;
	border-right: 0px;
}

#poids
{
	width: 60px;
}

#Posologie1, #Posologie2, #VolumeMax1, #VolumeMax2, #blocMelangeVolumesEgaux p
{
	margin-top : 0px;
	margin-left: 5px;
	margin-right: 5px;
}

#blocMelangeVolumesEgaux p
{
	margin-top: 8px;
	margin-bottom: 8px;
}

select
{
	/*background-color: #DFE2F2;
	*/
	border : none;
	border-radius: none;
}


.dosetoxique
{
	color : darkred;
}

.dosenontoxique
{
	color : #275954;
}

#ResultatTotal
{
	font-weight: bold;
}

.infos
{
	background-color: #F2F2F2;
	text-align: center;
	line-height: 20px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

h1
{
	background-color: #F2F2F2;
	line-height: 40px;
	text-align: center;
	color : #0554F2;
	font-family : "arial";
	margin-top : 0;
	margin-bottom : 0;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

h2
{
	background-color: #F2F2F2;
	line-height: 30px;
	text-align: center;
	color : #012623;
	font-family : "Arial";
	font-size: small;
	font-style: italic;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

h3
{
	font-family : "Lato";
	font-variant-caps:all-petite-caps;
	border-bottom: 1px dashed #9799A6;
	margin-top: 0px;
	margin-bottom: 0px;
    color : #1675F2;
}

h4
{
	font-family : "Lato";
	font-variant-caps:all-small-caps;

}

.resultat, .modifie
{
	font-size: 20px;
	font-weight: bold;
	color : #0554F2;
    line-height: 30px
}

h6
{
	font-weight: bold;
	color: #010D26;
	margin-top: 8px;
	margin-bottom: 0px;
	font-size: 1em;
	line-height: 30px;
}

#ResultatPartiel1, #ResultatPartiel2, #ResultatTotal
{
	margin-top:0px;
	margin-bottom:16px;
	margin-left: 5px;
	margin-right: 5px;
}

p
{
	line-height: 1em;
	color : #012623;
}

a
{
    text-decoration: none;
    color : #0554F2;
}

a:hover
{
    text-decoration: underline;
    font-size: 1.1em;
}

.preentete
{
    background-color: white
}

footer p
{
    margin : 10px
}

input
{
	color:blue;
}

.disclaimer
{
	line-height: 1em;
	font-style: italic;
}

/*smartphone*/
@media(max-width : 639px)
{
	body
	{
		margin-left : 0;
		margin-right : 0;
		margin-top : 0;
		border-top : none;
		padding-top : 0;
	}

	#banniere
	{
		height: auto;
	}

	h1
	{
		width: 100%;
		font-size: 1.2em;
	}

	h2
	{
		margin-top : 0px;
		margin-bottom : 0;
		border-top : 0;
		font-size: 0.8em;
	}

	#patient
	{
		border-top : 0px;
	}

	#poids
	{
		width: 60px;
	}
}

/*tablettes*/
@media(min-width : 640px) AND (max-width : 1079px)
{
	body
	{
		width: 90%;
		margin-left: auto;
		margin-right : auto;
	}

	#corps
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#patient
	{
		width : 30%;
		margin-bottom: 8px;
	}

	.blocproduits
	{
		width: 35%;
		margin-bottom: 8px;
	}

	.blocmelanges
	{
		width: 47.5%;
		margin-bottom: 8px;
	}
}

/*PC*/
@media(min-width : 1080px)
{
	body
	{
		width: 900px;
		margin-left: auto;
		margin-right : auto;
	}

	#corps
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#patient
	{
		width : 30%;
		margin-bottom: 8px;
	}

	.blocproduits
	{
		width: 30%;
		margin-bottom: 8px;
	}

	.blocmelanges
	{
		width: 47.5%;
		margin-bottom: 8px;
	}
}

/* Color Theme Swatches in Hex */
.UI/UX-1-hex { color: #3350A6; }
.UI/UX-2-hex { color: #0554F2; }
.UI/UX-3-hex { color: #010D26; }
.UI/UX-4-hex { color: #1675F2; }
.UI/UX-5-hex { color: #F2F2F2; }