body {
  padding-top: 10px;
  background-color: #645E8C
}

.patient, .blocproduits, .blocmelanges, .bloctoxcum, .paramexplications, .paramfragile, .paramproduit
{
  background-color: #DFE2F2;
  line-height: 40px;
  text-align: center;
  font-family : "Lato";
  border-top: 2px solid white;
  border-bottom: 2px solid white;

}

#poids, #volume1, #volume2
{
    background-color: white;
    border-right: 0px;
}

select
{
    /*background-color: #DFE2F2;*/
    border : none;
    border-radius: none;
}

.dosetoxique
{
    color : darkred;
}

.dosenontoxique
{
    color : #275954;
}

#ResultatTotal
{
    font-weight: bold;
}

.infos
{
  background-color: #CED3F2;
  text-align: center;
  line-height: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

h1
{
  background-color: #CED3F2;
  line-height: 40px;
  text-align: center;
  color : #275954;
  font-family : "Francois One";
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
h2
{
  background-color: #CED3F2;
  line-height: 30px;
  text-align: center;
  color : #012623;
  font-family : "Lato";
  font-size: small;
font-style: italic;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
h3
{
    font-family : "Lato";
    font-variant-caps:all-petite-caps;
    border-bottom: 1px dashed #9799A6;
    /*margin-bottom: 10px;*/
}
h4
{
    font-family : "Lato";
    font-variant-caps:all-small-caps;
    /*margin-bottom: 10px;*/
}
.resultat, .modifie
{
    font-size: 20px;
    font-weight: bold;
    color: #275954;
    line-height: 30px
}
h6
{
    font-weight: bold;
    color: #275954;
}
p
{
    line-height: 1em;
    color : #012623;
}

.preentete
{
    background-color: white
}

.alternatif
{
    display : none;
}

@media(min-width : 992px){
    .container
    {
        display : none;
    }
    
    .alternatif
    {
        display : block;
    }
    /*
    .interligne
    {
        display: none;
    }
    h1
    {
      background-color: #D9933D;
      border: 2px solid black;
      border-radius: 6px;
      line-height: 40px;
      text-align: center;
      color : 424A59;
      font-family : "bitter";
    }
    h2
{
  background-color: #D9933D;
  line-height: 40px;
  text-align: center;
  color : 424A59;
  font-family : "bitter";
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
    .patient, .blocproduits, .blocmelanges, .bloctoxcum
    {
      background-color: #5D9EA6;
    ;
      border: 2px solid black;
      border-radius: 6px;
      line-height: 40px;
      text-align: center;
      font-family : "raleway";
      margin: 3px;
    }
    .infos
    {
      background-color: whitesmoke;
      border: 2px solid black;
      border-radius: 6px;
      line-height: 40px;
      text-align: center;
    }
    */
}
footer p
{
    margin : 10px
}

input
{
    color:blue;
}
.disclaimer
{
    line-height: 1em;
    font-style: italic;
}
/* Color Theme Swatches in Hex */
.RED-theme-from-PANTONE-(Portfolio)-1-hex { color: #D50058; }
.RED-theme-from-PANTONE-(Portfolio)-2-hex { color: #002B49; }
.RED-theme-from-PANTONE-(Portfolio)-3-hex { color: #0082CA; }
.RED-theme-from-PANTONE-(Portfolio)-4-hex { color: #64D0E4; }
.RED-theme-from-PANTONE-(Portfolio)-5-hex { color: #D0D3D4; }

/* Color Theme Swatches in RGBA */
.RED-theme-from-PANTONE-(Portfolio)-1-rgba { color: rgba(212, 0, 87, 1); }
.RED-theme-from-PANTONE-(Portfolio)-2-rgba { color: rgba(0, 42, 73, 1); }
.RED-theme-from-PANTONE-(Portfolio)-3-rgba { color: rgba(0, 130, 202, 1); }
.RED-theme-from-PANTONE-(Portfolio)-4-rgba { color: rgba(100, 207, 228, 1); }
.RED-theme-from-PANTONE-(Portfolio)-5-rgba { color: rgba(207, 211, 212, 1); }

/* Color Theme Swatches in HSLA */
.RED-theme-from-PANTONE-(Portfolio)-1-hsla { color: hsla(335, 100, 41, 1); }
.RED-theme-from-PANTONE-(Portfolio)-2-hsla { color: hsla(204, 100, 14, 1); }
.RED-theme-from-PANTONE-(Portfolio)-3-hsla { color: hsla(201, 100, 39, 1); }
.RED-theme-from-PANTONE-(Portfolio)-4-hsla { color: hsla(189, 70, 64, 1); }
.RED-theme-from-PANTONE-(Portfolio)-5-hsla { color: hsla(195, 4, 82, 1); }
/* Color Theme Swatches in Hex */
.Branding:-Goed-1-hex { color: #645E8C; }
.Branding:-Goed-2-hex { color: #CED3F2; }
.Branding:-Goed-3-hex { color: #DFE2F2; }
.Branding:-Goed-4-hex { color: #012623; }
.Branding:-Goed-5-hex { color: #275954; }

/* Color Theme Swatches in Hex */
.Katea-–-Visual-identity-and-website-1-hex { color: #9799A6; }
.Katea-–-Visual-identity-and-website-2-hex { color: #C1C7D9; }
.Katea-–-Visual-identity-and-website-3-hex { color: #E9ECF2; }
.Katea-–-Visual-identity-and-website-4-hex { color: #A68D85; }
.Katea-–-Visual-identity-and-website-5-hex { color: #735D58; }

/* Color Theme Swatches in Hex */
.Pristine-App-1-hex { color: #0476D9; }
.Pristine-App-2-hex { color: #148DD9; }
.Pristine-App-3-hex { color: #13F28A; }
.Pristine-App-4-hex { color: #19A614; }
.Pristine-App-5-hex { color: #F2F2F2; }


/* Color Theme Swatches in Hex */
.Multiethnic-specialist-doctors-discussing-case-1-hex { color: #424A59; }
.Multiethnic-specialist-doctors-discussing-case-2-hex { color: #707C8C; }
.Multiethnic-specialist-doctors-discussing-case-3-hex { color: #F2F2E9; }
.Multiethnic-specialist-doctors-discussing-case-4-hex { color: #734838; }
.Multiethnic-specialist-doctors-discussing-case-5-hex { color: #BF826B; }


/* Color Theme Swatches in Hex */
.Bloc-opératoire-1-hex { color: #587AA6; }
.Bloc-opératoire-2-hex { color: #5D9EA6; }
.Bloc-opératoire-3-hex { color: #D9933D; }
.Bloc-opératoire-4-hex { color: #A68D6F; }
.Bloc-opératoire-5-hex { color: #591818; }




